<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>

<body>
    <h2>Write a new chat</h2>
    <form method="post" action="/chats">
        <label for="from">From:</label>
        <input type="text" name="from"> 
        <br>
        <br>
        <label for="to">To:</label>
        <input type="text" name="to"> 
        <br>
        <br>
        <label for="message">Message:</label>
        <textarea name="message" id="message"></textarea>
        <br>
        <br>
        <button>Create Chat</button>
    </form>
</body>

</html>